{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

      <div class="album py-5 bg-gray fluid">
        <div class="container">
          <p class ="par0"><img src="{% static 'home/img/about.png' %}" float="right" width="100px" alt="Timeline">ABOUT US:</p>
          <div class="blok">
            <span class="volontuer" >
            University of Warsaw Rover Team is a student team devoted to the construction of mars rover analogues for international robotics competitions. Currently we count about fifteen students from five different faculties of the University of Warsaw.

            We take part in a variety of competitions but all of them place similar demands: to construct a remotely controlled robot (Mars Rover analogue) capable of accomplishing a set of tasks, which are meant to simulate what real rovers may face during future manned missions to Mars. This includes exploration of rough terrain, picking up and delivering objects, manipulating equipment and performing scientific surveys of the area. In addition some of the tasks need to be performed autonomously, without any operator’s input.
          </span>
          </div>
          <br /><br /><br />
          <div class="blok">
            <span class="par2" style="color: #111111; font-weight:bold;  padding-left:4rem;">
              Check out our new promo:
            </span>
          </div>
          <p align=center><iframe src="https://tvpw.pl/embd/misja-mars" width="100%" height="450" frameborder="0" allowfullscreen></iframe></p>
        </div>

      </div>

    </main>


{% endblock %}
