
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

      <div class="album py-5 bg-gray fluid">
        <div class="container" >
          <p class ="par0"><img src="{% static 'timeline/images/timeline.png' %}" float="right" width="100px" alt="Timeline">TIMELINE: </p>
            {% for entry in entry.all %}
                    <div class="timelinestamp">
                      <div style="height:100%; padding:center; float: left;">
                        <img class="img-circle img-responsive"src="{{ entry.image.url }}" float="right" height="100%" width="150px" style="border-radius: 50%;margin-right: 50px;float:left;"/>
                      </div>
                      <div class="oneblock">
                        <p class=date>{{ entry.prettyDate }}</p>
                        <p class="title">{{ entry.title }}</p>
                        <p>{{ entry.body }}</p>
                      </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
            {% endfor %}
        </div>

      </div>

    </main>
{% endblock %}
